doctype html
- var user1="Fredrika";
- var characters=["Fredrika", "Rickward", "Raul", "Norman", "Lilian"];
mixin names(characters)
    ul
      each name in characters
        li 
            a(href="#") #{name}
html
    head
        title Тестовая страница
    body
        header
            h1 Главная страница
            p Текст страницы
        block content
        p.copyright Hero: #{user1}
        +names(characters)